* {

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body {
  margin: 0px;
  background: #6e6e6e;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}


header {
  overflow: hidden;
  position: fixed;
  background-color: #212529;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px 0px;
  z-index: 20;
  height: 85px;
}

section {
  height: auto;
  
}

.brand span {
  display: inline-block;
  background-color: rgb(104, 211, 115);
  color: white;
  font-size: 1.9em;
  font-weight: 900;
  height: 80%;
  margin-left: 20px;
  padding: 20px 10px 0 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nav-container {
  position: static;
}

.icon {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 2.7rem;
  padding: 9px;
  height: 80%;
  margin-right: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.icon:hover {
  color: rgb(104, 211, 114);
}



.nav-ul {
  position: fixed;
  width: 50%;
  right: 0%;
  text-align: center;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #3d444b;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px 0px;
}

.nav-container ul li {
  padding: 24px 10px;
  border-radius: 6px;
  width: auto;
  margin-bottom: 10px;
}

.nav-container ul li:hover {
  cursor: pointer;
  background-color: rgb(104, 211, 114);
}

.nav-container ul li a {
  color: white;
  font-size: 1.3em;
  font-weight: bold;

}

.cv:hover {
  background-color: white;
  color: rgb(104, 211, 114);
}

.div-ul {
  display: none;
}


.header-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-actions a {
  padding: 5px 20px;
  margin-right: 8px;
  border-radius: 8px;
  background-color: rgb(104, 211, 114);
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}

#contenido-principal {
  margin-top: 70px;
}

.hero {
  width: 100%;
  padding: 2em;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #212529;
  height: 100vh;
}

.hero__presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__presentacion--introduccion {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  margin-bottom: 0;
  color: rgb(104, 211, 114);
  font-size: calc(2.375rem + 2vw);
  font-weight: bold;
  text-shadow: 4px 4px 2px #234325;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.hero__presentacion p {
  margin-left: 1em;
  width: 80%;
  color: rgb(116 119 125);
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.hero__presentacion--stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.hero__presentacion--stats div {
  margin-top: 2em;
}

.hero__presentacion--stats data {
  color: rgb(104, 211, 114);
}


.hero__figure {
  position: relative;
  width: 50%;
  padding-right: 100px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 80px;
}

.hero__figure img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.hero__figure p {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  width: 500px;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.hero__figure:hover p {
  opacity: 1;
}

.projects-section {
  background-color: white;
}

.projects-section figure {
  margin: 5px;
}

.projects-section h2 {
  color: rgb(104, 211, 114);
  padding: 25px 0;
  margin: 0;
}

.article-container {
  display: grid;
  grid-template-columns:1fr;
  justify-self: center;
  gap: 30px;
  padding-bottom: 20px;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  max-width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgb(104, 211, 114);
}

.img-figure {
  background-color: cornsilk;
  width: 100%;
  height: 280px;
  object-fit: contain;
  border-radius: 8px;
}

article figcaption {
  margin-top: 5px;
  text-align: center;
}

figcaption span {
  background: rgb(104, 211, 114);
  padding: 5px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

article h3 {
  margin: 5px auto;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-align: center;
}

article p {
  margin: 5px auto;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  max-height: 65px;
  overflow-y: auto;
}

.btn-article {
  margin-top: 5px;
  align-self: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(104, 211, 114);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  border: none;
}


footer {
  background-color: antiquewhite
}

@media (min-width: 880px) {

  .icon {
    display: none
  }

  #ul {
    display: flex;
  }

  .nav-ul {
    position: relative;
    width: 100%;
    right: 0%;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #212529;
    list-style-type: none;
    box-shadow: none
  }

  .nav-container ul li {
    padding: 10px 10px;
  }

  .nav-ul:last-child {
    margin-right: 30px;
  }

  h1 {
    font-size: calc(3.3rem + 2vw);
  }

  .hero__figure {
    position: relative;
    width: 50%;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 80px;
  }

  .hero__figure img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
  }

  .hero__figure p {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    width: 500px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .hero__figure:hover p {
    opacity: 1;
  }

  .article-container {
    max-width: none;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
  }

  .article{
    min-width: 350px;
  }



}

@media (min-width: 1440px){
  .article-container {
    grid-template-columns: 1fr 1fr 1fr ;
    height: 100vh;
  }
}