* {

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body {
  margin: 0px;
  background: #6e6e6e;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}


header {
  overflow: hidden;
  position: fixed;
  background-color: #212529;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px 0px;
  z-index: 20;
  height: 85px;
}

section {
  height: auto;
  background-color: #212529;
}

.brand span {
  display: inline-block;
  background-color: rgb(104, 211, 115);
  color: white;
  font-size: 1.9em;
  font-weight: 900;
  height: 80%;
  margin-left: 20px;
  padding: 20px 10px 0 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nav-container {
  position: static;
}

.icon {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 2.7rem;
  padding: 0;
  height: 100%;
  margin-right: 35px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  margin-top: 25px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(104, 211, 114);
  margin: 6px 0;
  transition: 0.4s;
}

.icon:hover .bar1 .bar2 .bar3 {
  background-color: rgb(104, 211, 114);
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.nav-ul {
  position: fixed;
  width: 50%;
  right: 0%;
  margin-top: -30px;
  text-align: center;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #3d444b;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px 0px;
}

.nav-container ul li a {
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 10px 0;
} 

.nav-container ul li a:hover {
  cursor: pointer;
  background-color: rgb(104, 211, 114);
}



.div-ul {
  display: none;
}


.header-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}


#contenido-principal {
  margin-top: 70px;
}

.hero {
  width: 100%;
  padding: 2em;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.hero__presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__presentacion--introduccion {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  margin-bottom: 0;
  color: rgb(104, 211, 114);
  font-size: calc(2.375rem + 2vw);
  font-weight: bold;
  text-shadow: 4px 4px 12px rgb(104, 211, 114);
  text-align: center;
}

h2 {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.hero__presentacion p {
  margin-left: 1em;
  width: 80%;
  color: rgb(110, 110, 110);
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.hero__presentacion--stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.hero__presentacion--stats div {
  margin-top: 2em;
}

.hero__presentacion--stats data {
  color: rgb(104, 211, 114);
}


.hero__figure {
  position: relative;
  width: 50%;
  padding-right: 100px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 80px;
}

.hero__figure img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.hero__figure p {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  width: 500px;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.hero__figure:hover p {
  opacity: 1;
}

.skills {
  padding-top: 80px;
}

.skills h2 {
  color: rgb(104, 211, 114);
  padding: 25px 0;
  margin: 0;
}

.skills h3 {
  color: white;
  padding: 25px 0;
  margin: 0;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.icon-container {
  display: grid;
  justify-items: center;
  max-width: 1440px;
  min-width: 280px;
  margin: 0 auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.div-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #212529;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px 0px;
  border-radius: 8px;
}

.div-icon:hover {
  box-shadow: 3px 3px 10px rgb(104, 211, 114);
}


.div-card-icon {
  width: 60px;
  height: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
  background-position: center center;

}

.javascript {
  background-image: url(./img/js.png);
}

.css {
  background-image: url(./img/css-3.png);
}

.html {
  background-image: url(./img/html-5.png);
}

.node {
  background-image: url(./img/node-js.png);
}

.react {
  background-image: url(./img/react-js.png);
}

.postgresql {
  background-image: url(./img/postgresql.png);
}

.div-icon span {
  color: rgb(110, 110, 110);
  font-size: 1em;

}

.projects-section{
  padding-top: 80px;
}

.projects-section figure {
  margin: 5px;
  
}

.projects-section h2 {
  color: rgb(104, 211, 114);
  padding: 25px 0;
  margin: 0;
}

.article-container {
  display: grid;
  justify-items: center;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding-bottom: 20px;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  max-width: 345px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgb(104, 211, 114);
}

article:hover {
  box-shadow: 3px 3px 20px rgb(67, 221, 83);
}

.img-figure {
  background-color: cornsilk;
  width: 100%;
  height: 280px;
  object-fit: contain;
  border-radius: 8px;
}

article figcaption {
  margin-top: 5px;
  text-align: center;
}

figcaption span {
  background: rgb(104, 211, 114);
  padding: 5px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

article h3 {
  margin: 5px auto;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-align: center;
}

article p {
  margin: 5px auto;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  max-height: 65px;
  overflow-y: auto;
}

.btn-article {
  margin-top: 5px;
  align-self: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(104, 211, 114);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  border: none;
}


footer {
  background-color: antiquewhite
}

@media (min-width: 880px) {

  .icon {
    display: none
  }

  #ul {
    display: flex;
  }

  .nav-ul {
    position: relative;
    width: 100%;
    right: 0%;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #212529;
    list-style-type: none;
    box-shadow: none
  }

  .nav-container ul li a{
    height: 40px;
    padding: 5px 10px;
  }

  .nav-ul:last-child {
    margin-right: 30px;
  }

  h1 {
    font-size: calc(3.3rem + 2vw);
  }

  .hero__figure {
    position: relative;
    width: 50%;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 80px;
  }

  .hero__figure img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
  }

  .hero__figure p {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    width: 500px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .hero__figure:hover p {
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  .article-container {

    height: 100vh;
  }
}